// @font-face {
//     font-family: 'Sen', sans-serif; 
//     src: url(../../fonts/Sen/Sen-VariableFont_wght.ttf);
// }

@font-face {
    font-family: 'Sen-bold'; 
    src: url(../../fonts/Sen/static/Sen-Bold.ttf);
}

@font-face {
    font-family: 'Inter', sans-serif; 
    src: url(../../fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
}